<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Acesso</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <button class="btn"><a href="../pagina-tempo/tempo.html"><img src="../pagina-tempo/imagens/3d-sun-and-cloud-white-3d-weather-element-png.png" width="50px"></a></button>
    <button class="btn"><a href="../pagina-conversao/pagina-conversao.html"><img src="../pagina-tempo/imagens/logo%20(1).png" width="50px"></a></button>
  </div>
</body>
</html>
