<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Acesso</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/acesso-inicial.css') }}">
</head>
<body>
  <div class="container">
    <button class="btn">
      <a href="{{ url_for('tempo') }}">
        <img src="{{ url_for('static', filename='/imagens/img_sol.png') }}" width="50px">
      </a>
    </button>

    <button class="btn">
      <a href="{{ url_for('conversao') }}">
        <img src="{{ url_for('static', filename='/imagens/img_conversao.png') }}" width="50px">
      </a>
    </button>
  </div>
</body>
</html>
