<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Acesso</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/acesso-inicial.css') }}">
</head>
<body>
<main>
    <h1 class="titulo">Acessar Projetos</h1>
     <div class="container">
    <div class="btn">
      <a href="{{ url_for('tempo') }}">
          <img src="{{ url_for('static', filename='/imagens/imagem-projeto-tempo.png') }}" width="100%">
          <div class="overlay">
              <span class="texto-projeto">Projeto Tempo</span>
          </div>
      </a>
    </div>

    <div class="btn2">
      <a href="{{ url_for('conversao') }}">
        <img src="{{ url_for('static', filename='/imagens/imagem-projeto-conversao.png') }}" width="100%">
          <div class="overlay">
            <span class="texto-projeto">Projeto Conversão</span>
          </div>
      </a>
    </div>
  </div>
</main>
</body>
</html>
