
    *{
      font-family: Arial, Helvetica, sans-serif;
    }
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(175deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 0%, rgba(19, 237, 59, 1) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .voltar{
        position: absolute;
        top: 2%;
        left: 2%;
    }
    .voltar:hover{
       width: 35px;
    }
    img:hover{
        width: 35px;
    }
    img{
        width: 30px;
    }
    .container {
      background-color: white;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 320px;
      text-align: center;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.596);
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    select, input {
      width: 100%;
      margin-bottom: 15px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    select{
        padding: 10px;
    }
    input{
        height: 30px;
    }
    .exchange-rate {
      font-size: 14px;
      color: rgba(19, 237, 59, 1);
      margin-bottom: 15px;
    }
    .btn {
      background: rgba(1, 130, 65, 12);
      color: white;
      padding: 12px;
      font-size: 16px;
      width: 100%;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
    .btn:hover {
      background: rgba(1, 110, 65, 1) ;
    }
   
    #moedaPara{
      margin-top: 10px;

    }